 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.card {
  width: 100%;
  max-width: 460px;
  background-image: url("/img/sky.jpg");
  background-repeat: ;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
h2 {
  position: absolute;
  left: 1;
  top: 100px;
}
h3 {
  position: absolute;
  top: 170px;
}
.input {
  position: absolute;
  top: 190px;
}
li {
  list-style: none;
}
.cap {
  position: absolute;
  left: 850px;
  top: 130px;
}
.cup {
  position: absolute;
  left: 850px;
  top: 180px;
}
.mug {
  position: absolute;
  left: 850px;
  top: 220px;
}
.jug {
  position: absolute;
  left: 850px;
  top: 260px;
}
