* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("/img/sky1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  width: 100%;
  max-width: 460px;
  background-image: url("/img/sky.jpg");
  background-size: cover;
  background-position: center;
  margin: 100px auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  color: white;
  flex-grow: 1;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  margin-top: 10px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 200px;
}

.input button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

h5 {
  margin-top: 20px;
  font-size: 1.2em;
}

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.weather-results {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-date {
  text-align: center;
}

footer {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
