* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #00c6ff, #0072ff); /* Blue gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 100%;
  max-width: 460px;
  background-image: url("/img/sky.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 35px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

h3 {
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: bold;
  color: #f1c40f;
}

#current-date-time {
  font-size: 1.2em;
  margin-top: 20px;
  color: #ecf0f1;
}

h4 {
  font-size: 1.2em;
  margin-top: 10px;
  color: #ecf0f1;
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.input input {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  width: 250px;
  border: none;
  outline: none;
}

.input input:focus {
  border: 2px solid #f1c40f;
  background-color: #f0f8ff;
}

.input button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.input button:hover {
  transform: scale(1.2);
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-day {
  text-align: center;
  color: #ecf0f1;
  font-weight: 600;
}

.weather-forecast-day img {
  width: 50px;
  height: 50px;
}

.weather-forecast-temperatures {
  margin-top: 10px;
}

.weather-forecast-temperature {
  font-size: 1.2em;
  font-weight: bold;
}

footer {
  font-size: 0.9em;

  padding: 10px;
  color: white;
}

footer a {
  color: #f1c40f;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
